/* -------1200--------- */

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1500px !important;
    }

}

/* 1440 */

@media only screen and (max-width: 1540px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1200px !important;
    }

    .semy-ac-h2,
    .semy-ac-h {
        font-size: 16px !important;
    }


    a.nav-link.sec-li-small2 {
        font-size: 13px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        padding: 36px 9px;
    }
    .sec-looh-h {
        font-size: 35px;
    }    
    .owl-nav {
        margin-top: -580px !important;
        float: right;
    }
}